<html>
  <head>
    <base href="/"/>
    <script src="/theme.js"></script>
    <title><%= config.title %></title>
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>
  <body class="ld-Frame">
    <header class="ld-Frame-header">
      <%- include('partials/navbar', { items: tree.items, config }); %>
    </header>
    <main class="ld-Frame ld-Frame-main">
      <aside id="ld-sidebar" class="ld-Frame-sidebar" data-turbolinks-permanent>
        <%- include('partials/menu', { items: config.navigation.items, config, level: 0 }); %>
      </aside>
      <div class="ld-Frame-content">
        <div class="ld-Container">
          <article>
            <%- content %>
          </article>
        </div>
      </div>
    </main>
  </body>
  <style>
    @import url('https://fonts.googleapis.com/css?family=PT+Sans');
  </style>
</html>
