<html>
  <head>
    <base href="/"/>
    <script src="/theme.js"></script>
    <style>

      body {
        font-family: 'Helvetica', Arial;
        font-weight: 300;
      }

      h1 {
        font-weight: 300;
        font-size: 2.5rem;
      }

      h2 {
        font-weight: 300;
        font-size: 1.5rem;
      }

      a:link,
      a:visited {
        color: darkgray;
      }
    </style>
    <title><%= config.title %></title>
  </head>
  <body>
    <header class="ld-header">
      <%- include('partials/navbar', { items: tree.items, config }); %>
    </header>
    <main class="ld-main">
      <aside id="ld-sidebar" class="ld-sidebar" data-turbolinks-permanent>
        <div class="ld-treeview">
          <%- include('partials/menu', { items: config.navigation.items, config, level: 0 }); %>
        </div>
      </aside>
      <div class="ld-container">
        <article class="ld-content">
          <%- content %>
        </article>
      </div>
    </main>
  </body>
</html>
