.ld-Dropdown-toggle {
  display: none;
}

.ld-Dropdown-label {
  display: flex;
  cursor: pointer;
}

.ld-Dropdown-chevron {
  margin-left: auto;
  /*filter: brightness(40%);*/
  color: #ccc;
}


.ld-Dropdown-chevron:before {
  transform: rotate(0);
  transition: all 0.2s ease;
  margin-left: auto;
}

.ld-Dropdown-toggle:checked ~ .ld-Dropdown-label .ld-Dropdown-chevron:before {
  transform: rotate(0deg);
}


.ld-Dropdown-toggle ~ .ld-Dropdown-content {
  max-height: 0;
  transition: all 0.2s ease;
  overflow: hidden;
}

.ld-Dropdown-toggle:checked ~ .ld-Dropdown-content {
  max-height: 100vh;
}
