@import './theme.css';

@import './components/Container.css';
@import './components/Dropdown.css';
@import './components/Accordion.css';
@import './components/Frame.css';
@import './components/Icon.css';
@import './components/Menu.css';
@import './components/Navbar.css';
@import './content/Table.css';
@import './content/Blockquote.css';

.turbolinks-progress-bar {
  height: 5px;
  background-color: white;
}

.code.hljs {
  overflow: auto;
  max-height: 400px;
}
