.ld-container {
  max-width: 960px;
  margin: auto;
}

.ld-navbar-brand:focus {
  outline: none;
}

.ld-header {
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  padding: 4px 16px;
  background: #1f1f1f;
  color: white;
  box-sizing: border-box;
}

.ld-navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 24px;
  line-height: 24px;
  box-sizing: border-box;
}

.ld-navbar-brand:link,
.ld-navbar-brand:visited {
  color: white;
}

.ld-navbar-brand:focus {
  outline: none;
}

.ld-main {
  padding: 4px 24px 24px 304px;
  margin-top: 56px;
}

.ld-sidebar {
  /*font-family: Arial;*/
  width: 280px;
  position: fixed;
  left: 0;
  top: 56px;
  bottom: 0;
  overflow: auto;
  border-right: 1px solid #dedede;
  background: #fff;
  box-sizing: border-box;
  padding-top: 16px;
}

.ld-sidebar .ld-menu {
  border: 0;
}
