<html>
  <head>
    <script type="text/javascript" src="/main.js"></script>
    <script type="text/javascript" src="/vendor.main.js"></script>
  </head>
  <body class="ld-Frame ld-Frame-external">
    <div>
      <%- content %>
    </div>
  </body>
</html>
