<html>
  <head>
    <script type="text/javascript" src="/main.js"></script>
    <script type="text/javascript" src="/vendor.main.js"></script>
    <base href="/">
  </head>
  <body class="frame" title="hello">
    <div>
      <%- content %>
    </div>
  </body>
</html>
