<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/github.min.css"/>
    <!--<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" type="text/css" href="/index.css"/>
    <style>

      body {
        font-family: 'Helvetica', Arial;
        font-weight: 300;
      }

      h1 {
        font-weight: 300;
        font-size: 2.5rem;
      }

      h2 {
        font-weight: 300;
        font-size: 1.5rem;
      }

      pre {
        font-family: monospace, monospace; /* 1 */
        font-size: 1em; /* 2 */
      }

      a:link,
      a:visited {
        color: darkgray;
      }

      .ld-container {
        max-width: 960px;
        margin: auto;
      }

      .ld-menu {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border: 1px solid #dedede;
        font-size: 16px;
      }

      .ld-menu .ld-menu {
        background: white;
        font-size: 92%;
      }

      .ld-menu .ld-menu .ld-menu {
        padding-left: 16px;
        font-size: 87%;
      }

      .ld-menu-link:link {
        font-weight: bold;
        font-weight: 400;
      }

      .ld-menu-link:link,
      .ld-menu-link:visited {
        color: inherit;
      }

      .ld-menu-link {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 8px 12px;
        text-decoration: none;
        box-sizing: border-box;
      }

      .ld-menu-level-0 > .ld-menu-link + .ld-menu-link {
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
      }

      .ld-navbar-brand:focus {
        outline: none;
      }

      .ld-header {
        height: 56px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        z-index: 1;
        padding: 4px 16px;
        background: #1f1f1f;
        color: white;
        box-sizing: border-box;
      }

      .ld-navbar-brand {
        color: white;
        text-decoration: none;
        font-size: 24px;
        line-height: 24px;
        box-sizing: border-box;
      }

      .ld-navbar-brand:link,
      .ld-navbar-brand:visited {
        color: white;
      }

      .ld-navbar-brand:focus {
        outline: none;
      }

      .ld-example {
        padding: 0;
        margin-bottom: 2rem;
      }

      .ld-example .ld-frame {
        margin-bottom: 1rem;
        position: relative;
        /*z-index: 1;*/
      }

      .ld-example pre {
        margin: 0;
        display: flex;
        border: 1px solid #dedede;
        border-radius: 3px;
      }

      .ld-example pre + pre {
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      .ld-example pre code {
        width: 100%;
        padding: 1rem;
        /*position: relative;*/
      }

      .ld-example pre code:before {
        content: attr(data-lang);
        display: none;
        /*position: absolute;*/
        top: 0;
        right: 0;
        border: 1px solid #dedede;
        border-bottom-left-radius: 3px;
        border-top: 0;
        border-right: 0;
        padding: 0.25rem;
        font-size: 80%;
        background: white;
        text-transform: uppercase;
        /*font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;*/
      }

      .ld-main {
        padding: 4px 24px 24px 304px;
        margin-top: 56px;
      }

      .ld-sidebar {
        /*font-family: Arial;*/
        width: 280px;
        position: fixed;
        left: 0;
        top: 56px;
        bottom: 0;
        overflow: auto;
        border-right: 1px solid #dedede;
        background: #efefef;
        box-sizing: border-box;
      }

      .ld-sidebar .ld-menu {
        border: 0;
      }

    </style>

    <script>
      (function() {
        document.addEventListener('DOMContentLoaded', () => {
          const blocks = document.querySelectorAll('pre code');
          [ ...blocks ].forEach((block) => {
            hljs.highlightBlock(block);
          });
        });
      })();
    </script>

    <title><%= config.title %></title>
  </head>
  <body>
    <header class="ld-header">
      <%- include('partials/navbar', { items: tree.items, config }); %>
    </header>
    <main class="ld-main">
      <aside class="ld-sidebar">
        <%- include('partials/menu', { items: config.navigation.items, config, level: 0 }); %>
      </aside>
      <div class="ld-container">
        <article class="ld-content">
          <%- content %>
        </article>
      </div>
    </main>
  </body>
</html>
