.ld-Navbar {
  padding: 0.7rem 1rem;
  background: #000;
  color: #fff;
  height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ld-Navbar-title:focus {
  outline: none;
}

.ld-Navbar-title {
  color: white;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-weight: 600;
  position: relative;
  font-family: var(--ld-font-family);
}

.ld-Navbar-title:link,
.ld-Navbar-title:visited {
  color: white;
}
